body {
    width: 1020px;
    margin: auto;   
}

.main {
    width: 940px;
    height: 572px;
    background-color: #f06c64;
    padding: 38px 40px;
    border-bottom-style: solid;
    border-bottom-color: #ea676b;
    border-bottom-width: 6px;
}
.main__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;    
}
.main__title-item {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-top: -3px;
}
.contact {
    display: flex;
    padding-top: 13px;  
}
.contact__form-item {
    width: 604px;
    height: 36px;
    border-radius: 5px;
    border: #d6564f;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
}
input{
    margin: -10px;
}
.contact__form-area {
    width: 602px;
    height: 193px;
    border-radius: 5px;
    border: #d6564f;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    resize: none;
    padding-left: 15px;
    padding-top: 7px;   
}
.contact__info {   
    width: 300px;
    height: 175px;    
    margin-top: -2px;
    padding-left: 21px;
}
.contact__info-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: justify;
}
.contact-info__title-item {
    margin-top: -9px; 
    width: 300px;
    height: 175px;
    font-size: 11.94px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}
.contact__ico {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: -78px;
    padding-left: 2px;
    
    
}
.ico_phone {
    margin-right: 11px;
   
}
.ico_letter {
    margin-right: 9px;
    
}
.ico_location {
    margin-right: 15px;
}
.ico-info__phone {
    margin-top: -13px;
}
.ico-info__letter {
    margin-top: -12px;
}
a {
    color: white;
    text-decoration: none;
}
.footer {
    display: flex;
    width: 1020px;
    height: 76px;
    background-color: #2d303a;    
}
.copy {
    padding: 33px 42px;
}
.footer-social__link {
    padding-left: 650px;
    padding-top: 21px;
   
}
.link {
    margin-right: 2px;   
}
.link-name:hover {
    background-color: #eb5055;
} 
